@use './variable/forward' as *;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $Cream;
    ;
}

main {
    display: grid;
    place-items: center;
    height: 100vh;

    img {
        max-width: 100%;
        display: block;
    }

    .card-div {
        padding-inline: 2rem;


        .card {
            border-radius: 10px;
            overflow: hidden;


            .img-div .card-img-desktop {
                display: none;

                @media (min-width:35rem) {
                    display: block;
                    height: 100%;
                }
            }

            .img-div .card-img-mobile {
                @media (min-width:35rem) {
                    display: none;
                }
            }

            .info-div {
                padding: 1.6rem;
                background-color: $White;

                .product {
                    text-transform: uppercase;
                    letter-spacing: 4px;
                    font-weight: 400;
                    color: $Dark-grayish-blue;
                }

                .title {
                    font-weight: 700;
                    font-family: 'Fraunces', serif;
                    margin-block: 1.3rem;
                }

                .text {
                    line-height: 1.7;
                    color: $Dark-grayish-blue;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 15px;
                }

                .price {
                    font-size: 2rem;
                    font-family: 'Fraunces', serif;
                    display: flex;
                    align-items: center;
                    color: $Dark-cyan;
                    margin-top: 2.3rem;

                    span {
                        text-decoration: line-through;
                        font-size: 1rem;
                        margin-left: 1.6rem;
                        color: $Dark-grayish-blue;
                    }
                }

                .add_to_cart {
                    background-color: hsl(158deg, 36%, 37%);
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    padding: 1em 2em;
                    border-radius: 8px;
                    color: $White;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: bold;
                    margin-top: 2rem;

                    img {
                        margin-right: 0.7rem;
                    }
                }
            }
            @media (min-width:35rem) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                max-width: 40rem;
            }
        
        }
    }
}