@use './variable/forward';

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    display: grid;
    place-items: center;
    height: 100vh;

    img {
        max-width: 100%;
        display: block;
    }
}

